.App {
    text-align: center;
}

.App-header {
    background-color: #1d2427;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .App-logo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10%;
    height: 5%;
    pointer-events: none;
  }
  .App-Welcome {
    font-size: calc(35px + 5vmin);
    color:rgb(250, 248, 248);
    position: absolute;
    top: 5%;
    left: 20%;
  }

  .App-ProjectName {
    font-size: calc(1px + 5vmin);
    color:rgb(250, 248, 248);
    position: absolute;
    top: 17%;
    left: 20%;
  }

  .App-Rectangle-Task {
  margin-right: row;
  display: flew;
  width: 300px;
  height: 80px;
  border-radius: 12px;
  color:rgb(250, 248, 248);
  position : absolute;
  top: 25%;
  left: 20%;
  background-color:  #1b2024;
  }
