/* ----- Init ------ */
* {
    margin: 0;
    padding: 0;
}
/* ----------------- */

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----  Logo ----- */
.logo {
    width: 100px;
    height: 100px;
}
/* ----------------- */

.nav-icon {
    display: none;
}

/* -----  Profil pic ----- */
.profil-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* ----------------- */

/* ----- Basic property ----- */
.panel {
    display: flex;
    position: absolute;
    background: #ffffff;
    flex-direction: column;
    grid-row-gap: 22.5%;
    align-items: center;
    width: 20%;
    height: 100%;
    max-width: 150px;
    min-width: 120px;
    min-height: 200px;
    box-shadow: 5px 0 50px rgba(0, 0, 0, 0.5);
}

.categories {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.categories > p {
    font-size: 23px;
    margin-top: 5px;
}
/* ---------------------- */

/* ------------------- Mobile form ------------------- */
@media screen and (max-width: 500px), screen and (max-height: 500px) {
    .panel {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        min-height: 80px;
        max-height: 120px;
        max-width: none;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
    }

    .nav-icon {
        display: block;
        position: absolute;
        left: 5px;
        order: 1;
    }

    .categories {
        display: none;
        position: absolute;
        left: 5px;
        order: 1;
    }

    .logo {
        order: 2;
    }

    .images {
        flex-direction: row;
        order: 2;
        justify-content: space-between;
    }
    .profil-pic {
        position: absolute;
        right: 8px;
        margin: 0;
        order: 3;
    }
}
/* ------------------------------------------------ */
