# API Port
export PORT=4000

# DB config
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=intra-database
export DB_USER=intra
export DB_PASS=password
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

# Airtable
export AIRTABLE_ENDPOINT=https://api.airtable.com
export AIRTABLE_API_KEY=keyPYPKWuv4u7F7lK
export MEGALIST_KEY=appIXavTSmO9mLC18
